*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 36px;
    font-weight: bold;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
   /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);

}





#numero{
    color: white;
 
    margin-top: 20px;
    background: -webkit-linear-gradient(90deg, #d53369 0%, #daae51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}


#numbero:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}
#gen{
    color: white;
    background-color: transparent;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: white;
    padding: 15px 10px;
    padding-bottom: 20px;
    box-shadow: 300ms ease-in-out;

} 
#ran{
    color: white;
    letter-spacing: 2px;
    padding: 15px 10px;
    padding-bottom: 20px;
    background-color: transparent; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: white;
    box-shadow: 300ms ease-in-out;
    border-radius: 10px;
    
}



#ran:hover{
    background: #ffffff;
    color:#2E94E3;
    box-shadow: 0 0 30px #ffffff;
    

}
#gen:hover{
    background: #ffffff;
    color:#2E94E3;
    box-shadow: 0 0 30px #ffffff;
    

  

}

.container{
    /*border: white solid 3px;*/
    padding: 20px 20px;
   
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    -webkit-box-reflect:below 1px linear-gradient(transparent,rgba(38, 155, 73, 0));
    transition: 0.5s;
    transition-property: background, box-shadow;
    border-radius: 10px;
    

}

.container:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}


/*#numero:hover{
 

 

}*/