:root {
    --clr-light: white;
    --clr-med: #d7dfe2;
    --clr-dark: #90a4ae;
    --clr-dark-heavy: #546e7a;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--clr-med);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #neu {
    width: 10em;
    height: 4em;
    font-size: 3em;
    border-radius: 5em;
    border: white;
    outline: none;
    background: var(--clr-med);
    box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark);
    font-family: Montserrat, sans-serif;
    color: var(--clr-dark-heavy);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  /*#neu:hover{
    display:inline-block;
    transform: scale(0.98);
    box-shadow:inset -5px -5px 10px var(--clr-light),
     inset -5px 5px 10px var(--clr-dark),
     inset -5px -5px 10px var(--clr-light),
      inset -5px 5px 10px var(--clr-dark);*/
  
  
  #neu2 {
    width: 10em;
    height: 4em;
    font-size: 3em;
    border-radius: 5em;
    border: none;
    outline: none;
    background: var(--clr-med);
    box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark),
      inset -5px -5px 10px var(--clr-light), inset 5px 5px 10px var(--clr-dark);
    font-family: Montserrat, sans-serif;
    color: var(--clr-dark-heavy);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

  }

  #numero{
   
   text-align: center;
 
    
    font-size: 3em;
   
    
    background: var(--clr-med);
   
    font-family: Montserrat, sans-serif;
    color: var(--clr-dark-heavy);

  }

  #neu:active{
  
      opacity: 1;
      box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
        inset 8px 8px 16px rgba(0, 0, 0, 0.1);
      color: #79e3b6;
    
  }

  #neu2:active{
    opacity: 1;
      box-shadow: inset 5px 5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark),
      inset 5px 5px 10px var(--clr-light), inset 5px 5px 10px var(--clr-dark);
      color: #79e3b6;
  }